<h2 class="alert alert-info mt-4 text-center">std table element refrence with event-binding</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" #fname class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">Lirst Name</label>
                <input type="text" #lname class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" #email class="form-control">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" #contact class="form-control">
            </div>
            <button class="btn btn-primary" (click)="onstdAdd(fname,lname,email,contact)">Add student</button>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>sr no</th>
                        <th>fname</th>
                        <th>lname</th>
                        <th>email</th>
                        <th>contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdArry; index as i">
                        <td>{{i+1}}</td>
                        <td>{{std.fname}}</td>
                        <td>{{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>