<h2>hello js </h2>

<table class="table table-boarderd">
    <thead>
        <tr>
            <th>sr no.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let std of stdArr; let i=index;">
                <td>{{i+1}}</td>
                <td>{{std.fname}}</td>
                <td>{{std.lname}}</td>
                <td>{{std.email}}</td>
                <td>{{std.contact}}</td>
      <tr>
    </tbody>
</table>