<!-- <h2>hello html</h2>

<button mat-raised-button color="warn">Warn</button>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div> -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      
      <app-std-table-two-way-data-binding></app-std-table-two-way-data-binding> 
      <app-std-table-event-binding-eleref></app-std-table-event-binding-eleref>
            <app-student-table></app-student-table>
               <app-student></app-student>
          <app-ng-for-tab></app-ng-for-tab>
       <app-ng-switch-tab></app-ng-switch-tab>
  
      <app-tab></app-tab>
      <app-product></app-product>
      <app-products></app-products>

      <app-posts-cards></app-posts-cards>
       <app-tuc-cards></app-tuc-cards>
       <app-practice></app-practice> 
       <app-std-tab-machine-test></app-std-tab-machine-test>
       <app-template-driven-form></app-template-driven-form>
        <!-- <app-td-form-machine-test></app-td-form-machine-test> -->

  
    </div>
    <!-- <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let skill of skills"
        >
         I Love {{skill}}
        </li>
      </ul>
    </div> -->
  </div>
</div>